{% extends "layout.html" %}

{% block title %}
    Manifesto
{% endblock %}

{% block main %}
    <h5>Thinking in Constellation</h5>
    <br>
    <div class="container-fluid p-3">
        <div class="plain-text">
            <h6>CONSTELLATION</h6>
            <p>Walter Benjamin famously proposed in the ‘Epistemo-Critical Prologue’ to <i>Ursprung des deutschen Trauerspiels</i> (1928), translated as <i>The Origin of German Tragic Drama</i> (1977), that ideas are to objects as constellations are to stars. That is to say, ideas are no more present in the world than constellations actually exist in the heavens, but like constellations they enable us to perceive relations between objects. Benjamin developed this notion further in his account of the arcades in 19th-century Paris. Theodor Adorno adopts and adapts constellation in his account of negative dialectics, transforming it into a model. The notion of constellation allows for a depiction of the relation between ideas that gives individual ideas their autonomy but does not thereby plunge them into a state of isolated anomie. </p>
            <p>Excerpt from <a href="https://www.oxfordreference.com/view/10.1093/oi/authority.20110803095633862">Oxford Reference</a></p>
            <br>
            <h6>FLANEUR</h6>
            <p>Flânerie is the act of strolling, with all of its accompanying associations. The flâneur was, first of all, a literary type from 19th-century France, essential to any picture of the streets of Paris. The word carried a set of rich associations: the man of leisure, the idler, the urban explorer, the connoisseur of the street. It was Walter Benjamin, drawing on the poetry of Charles Baudelaire, who made this figure the object of scholarly interest in the 20th century, as an emblematic archetype of urban, modern (even modernist) experience. A flâneur played a double role in city life and in theory, that is, while remaining a detached observer. This stance, simultaneously part of and apart from, combines sociological, anthropological, literary, and historical notions of the relationship between the individual and the greater populace.</p>
            <p>Excerpt from <a href="https://en.wikipedia.org/wiki/Fl%C3%A2neur">Wikipedia</a></p>
            <br>
            <h6>PROPOSAL</h6>
            <p>Walter Benjamin thus provides a method for the core practices in academia: reading, writing, and thinking, transcending disciplinary boundaries and challenges assumptions of linearity, coherence, and progression inherent in our scholarly praxis by linking pieces of knowledge in different fields. This web application serves to document concepts, thoughts, reflections you gained from literature as colorful stars according to their types, and then connect them with each other to form not a fixed outline, but a chaotic network of knowledge, which in this context is called “constellation,” revealing the proximity of stars to facilitate thinking and creation. It is an advanced mind map where many-to-one and one-to-many relationship are both allowed without hierarchy.</p>
        </div>
    </div>
{% endblock %}